Reports/*
specific_experiments/block_models/*
Literature_Review/*
GPS_POS_DATA/*
GPS_TOOLS/Mapping_Resources/*
2D_Strain/Delaunay/earlier_work/*
2D_Strain/Strain_Code/hammond/*
2D_Strain/Strain_Code/visr/*
ts_viewing/*
*_bdr
*.pdf
*.ps
*.png
*.jpg
*.txt
*.nc
*.pyc
*.grd
*.kml
*.xyz
*.cpt
*.history
*.conf
