Reports/*
Literature_Review/*
specific_experiments/*
GPS_POS_DATA/*
GPS_TOOLS/Mapping_Resources/*
2D_Strain/Delaunay/earlier_work/oregon_bdr
2D_Strain/Delaunay/earlier_work/california_bdr
ts_viewing/*
INSAR_TOOLS/velocity_interpolation/*_bdr
*.pdf
*.ps
*.png
*.jpg
*.txt
*.nc
*.pyc
*.grd
*.kml
*.xyz
*.cpt
*.history
*.conf
