Reports/*
specific_experiments/Coulomb_stresses/*
specific_experiments/block_models/*
specific_experiments/waveforms/general_map/*
specific_experiments/waveforms/Amplitude_maps/*.eps
Literature_Review/*
INSAR_Results/*
GPS_POS_DATA/*
GPS_TOOLS/Mapping_Resources/*
GPS_TOOLS/_stl_simple.m
2D_Strain/Delaunay/earlier_work/*
2D_Strain/Strain_Code/hammond/*
2D_Strain/Strain_Code/visr/*
2D_Strain/Strain_Code/tape/*
2D_Strain/Mapping_Resources/*
Manuscript_Draft/*
ts_viewing/*
specific_experiments/Type_of_Seasonal/grace_box.py
*_remote
*_bdr
*.pdf
*.ps
*.eps
*.png
*.jpg
*.txt
*.nc
*.pyc
*.grd
*.kml
*.xyz
*.cpt
*.history
*.conf
*.pptx
*.ppt
*.docx
*.doc
specific_experiments/accelerations/notes
*.mseed
*.mat
*.norm
*.hist
*.grad
